# .gitignore for WINDEV, WEBDEV and WINDEV Mobile projects
#
# WINDEV – WEBDEV – WINDEV Mobile
Backup
Bin
cache.gestion de sources
Corbeille
Groupware
Lastsave
Sauvegarde
.tmp
*.cache
*.cpl
*.env
*.rep
*.waudit
*.wdcoverage
*.wpf
HstDuree.log
#
#WEBDEV
*\res
*.awl
*.awp
#
# WINDEV Mobile 
android
*.xcode.gen
Bkp_20260302_1629/.gitignore
Bkp_20260302_1629/back_16_5.png
Bkp_20260302_1629/CABA ERP.ctx
Bkp_20260302_1629/CABA ERP.sty
Bkp_20260302_1629/CABA ERP.wdp
Bkp_20260302_1629/CABA ERP.wdy
Bkp_20260302_1629/desktop.ini
Bkp_20260302_1629/Folder.ico
Bkp_20260302_1629/menu_24_5.png
Bkp_20260302_1629/Themes/.wdignorecleanup
Bkp_20260302_1629/Themes/WD/.wdignorecleanup
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette.ini
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette.sty
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette.wdpalette
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette.wdy
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette__Pict_PeriodNext_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette__Pict_PeriodPrevious_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_0_D.wdw
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_1.wdw
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_13.wdw
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_22.wdw
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_23.wdw
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_24.wdw
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Break.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Break_Pict.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Break_Pict.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Btn_Syst_Close.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Btn_Syst_Increase.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Btn_Syst_Minimize.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_CBox.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Elevent_Table_ColTitle.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Etiquette.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Etiquette.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Fiche.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Fiche.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Form.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Form.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Label.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Label.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Logo.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Mailing.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Mailing.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_MailingUS.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_MailingUS.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Add_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Apply_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Back_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Browse_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwFirst_H_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwFirst_V_24_5.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwFirst_V_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwForward_H_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwForward_V_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwLast_H_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwLast_V_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwNext_H_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_BrwNext_V_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Cancel_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Close_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Copy_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Correct_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Cut_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Delete_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Detail_16_2.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Detail_16_2.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Detail_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Help_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Home_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Import_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Link_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_List_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_LogOff_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Look_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Modify_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_NavigForward_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_NavigNext_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_New_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_ok_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_open_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_ParentFolder_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Paste_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_PeriodNext_24_5.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_PeriodNext_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_PeriodPrevious_24_5.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_PeriodPrevious_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_PlaneForward_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_PlaneNext_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Popup_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Print_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Redo_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Refresh_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Remov_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Repair_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Cancel.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Cancel.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Delete.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Delete.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_List.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_List.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Modify.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Modify.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_New.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_New.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Ok.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Ok.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Open.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Open.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Preview.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Preview.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Print.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Ribbon_Print.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Save_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Search_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Syst_Close_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Syst_Maximise_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Syst_Minimize_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Syst_Restore_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Syst_umc_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Tab_Add_16_5.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Tab_Add_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Tab_Close_16_5.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Tab_Close_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Trad_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_Undo_24_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Pict_VisionPlus_16_5.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Radio.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Ribbon_Separ.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Scroll_H.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Scroll_V.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Scroll2_H.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Scroll2_V.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Side.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Side_Light.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Side_Light.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Sld_Cursor.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Sld_Cursor.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Sld_V_Cursor.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Spliter_Grip_H.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Spliter_Grip_v.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Splitter_Bg.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Tab_MDI_Btn-New.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Tab_MDI_Btn-New.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Table.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Table.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Table_ColPict.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Table_ColTitle.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_Table_ColTitle.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_TableUS.gif
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_TableUS.wde
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_TV_Node_Close.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_TV_Node_Close.svg
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_WDMSGBOX-ERROR.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_WDMSGBOX-INFO.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_WDMSGBOX-PERSO.png
Bkp_20260302_1629/Themes/WD/300 Winki_Palette/Winki_Palette_WDMSGBOX-QUESTION.png
Bkp_20260302_1629/WIN_Inicio.wdw
Bkp_20260302_1629/WON_Basic-Error_16_5.png